<div class="contacto">
  <fieldset>
    <legend style="font-family:Georgia, 'Times New Roman', Times, serif ;"><h2>Formulario de Contacto</h2></legend>
  <form action="/form-contacto" method="post" onsubmit="return submitUserForm();">
   <input type="email" name="email" id="email" placeholder="Coloque correo electronico"/>    
   <input type="text" name="name" id="name" placeholder="Ingrese su Nombre" required/>
   <textarea
    required
    name="mensaje"
    id="mensaje"
    cols="30"
    rows="10"
    placeholder="Coloque su Comentario"
    ></textarea>

    <div class="g-recaptcha" data-sitekey="6Ldo2-0pAAAAAEe-Mu_K6XozxxWC79JkxgdJDnL9" data-callback="verifyCaptcha"></div>
    <div id="g-recaptcha-error"></div>


    <input type="submit" value="Enviar"/>

  </form>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>

<script>
  var recaptcha_response = '';
  function submitUserForm() {
      if(recaptcha_response.length == 0) {
          document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
          return false;
      }
      return true;
  }
  
  function verifyCaptcha(token) {
      recaptcha_response = token;
      document.getElementById('g-recaptcha-error').innerHTML = '';
  }
  </script>


<script>
  document.getElementById('submit-btn').addEventListener('click', async () => {
    const form = document.getElementById('contacto-form');
    const formData = new FormData(form);
  
    const response = await fetch('/form-contacto', {
      method: 'POST',
      body: formData,
    });
  
    if (response.ok) {
      console.log('Formulario enviado con éxito');
    } else {
      console.error('Error al enviar el formulario');
    }
  })
  </script>
  