<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="Todo">
    <div class="Coso" >
    <img src="https://i.pinimg.com/736x/09/fd/96/09fd967495d29075e3be6f1269ce2f20.jpg" alt="2x2" width="120" height="120">
     <br>
    <h1 style="font-size:40px;" style="font-family:Georgia, 'Times New Roman', Times, serif;" style="color:rgb(18, 2, 48) ;">Brandon Morales</h1>
     <p>Nombre:Brandon Josue</p>
     <p>Apellidos:Morales Marchan</p>
     <p>Edad:18 años</p>
     <p>Nacimiento:26/10/2005</p>
     <p>Nacionalidad:Venezolana</p>
     <p>Idiomas:Español,Inlges(Medio)</p>
     <p> Ocupacion Actual:Pogramador Jr</p>
     <fieldset>
      <legend style="font-family:Georgia, 'Times New Roman', Times, serif ;"><h2>Datos Generales</h2></legend>
      <ul>
        <li>CI:31.158.710</li>
        <li>Direccion:Calle Andres Bello Sector la Paz. Maracay Estado Aragua-Venezuela</li>
        <li>Telefono:0414-5433342</li>
        <li>Correo:brandonjmm11@gmail.com</li>
        <li><a target="_blank" href="https://www.pinterest.es/brandonjmm11/_created/">Pinterest</a></li>
        <li><a target="_blank" href="t.me/+5804145433342">Telegram</a></li>
      </ul>
      </fieldset>
      <fieldset>
       <legend style="font-family:Georgia, 'Times New Roman', Times, serif ;"><h2>Informacion Academica</h2></legend>
       <ul>
        <li>Primara:Colegio Simon Rodriguez Edo.Aragua</li>
        <li>Secundaria:Liceo Dr. Jose Francisco Torrealba Venezuela Edo.Aragua</li>
        <li>Estudios Avanzados: ING:Informatica(Aun en Curso):Universidad Experimetal de los LLanos Centrales Romulos Gallegos</li>
      </ul>
     </fieldset>
     <footer><p>Copyright 2024©</p></footer>
     <footer>
       <a href="mailto:brandonjmm11@gmail.com">Contactame</a>
     </footer>
    </div>
   
    <div class="Yo">
       <H1>Sobre mi:</H1>
        <H3>Futuro Ingeniero en informatica con 2 años de experiencia en el mundo de la programacion con conocimiento<br>
           en mas de un lenguaje de programacion. Mi creatividad y mi capacidad analitica me permiten culminar mis<br>
           proyectos en el menor tiempo posile. Aspiro a poder ser un gran creador de contenido de videojuegos de<br>
           calidad donde pueda desepeñar todo mi conocimiento 
        </H3>
      </div>
    <div class="Centro">
     <fieldset>
      <legend><h2>Experiencia laboral</h2></legend>
        <ul>
          <li>Venta y Distribucion de alimentos de origen animal</li>
          <li>Gerencia de el proyecto Campanella</li>
         <li>Venta y Distribucion de helados</li>
         <li>Co-Gerencia de el Proyecto Atlet</li>
         <li>Co-Gerencia de el Proyecto Demasiado Rico</li>
        </ul>
      </fieldset>
      <fieldset>
       <legend><h2>Habilidades y Destrezas</h2></legend>
       <ul>
        <li>Conocimiento en creacion de Algoritmos</li>
        <li>Experiencia de programacion en el Lenguaje de c++</li>
        <li>Experiencia en creacion de Base de datos y uso del lenguaje Sql</li>
        <li>Ingles Medio</li>
        </ul>
      </fieldset>
      <fieldset>
        <legend><h2>Cursos</h2></legend>
        <ul>
         <li>Curso en el lenguaje de programacion de html </li>
         <li>Curso en el lenguaje de programacion c++</li>
         <li>Curso de Algoritmos I y II</li>
         <li>Curso de Ingles Medio</li>
        </ul>
      </fieldset>
    
    
     
   </div>
 </div>
  </body>
</html>
