.Coso {
  background-color: #6e6f7557;
  width:350px;
  height:100%;
  float: left;
}

.Yo{
  padding: 120px 100px 80px 100px;
 
 margin: auto;
 text-align: center;
 overflow: hidden;
 height: auto;
 width: auto;
}


.Centro{

  padding: 0px 50px 80px 50px;
  text-align: center ;
  height: 2;
  overflow:hidden;
  height: auto;
  width: auto;

  

}

body {
  background-color: #7b858398;
}

fieldset{
   background-color: #878d83e3;
   margin-bottom: 10px;
   border: 6px groove;
   border-color: #6c726d;
   border-radius: 10%;
}

legend{
 padding: 5px;
 border-radius: 15px;
 font-weight: 20px;
 }
 
img{
  border-radius: 30%;
  margin-bottom: 12px;
  float: left;
 }
p{
  font-size: 24x;
  font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"; 
}

li , ul {
  font-size: 24x;
   font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" ;
}

.Todo{
  
 min-width: 10px;

}
